<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImmerseAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings file="NestApi.config">
  </appSettings>
  <userSettings>
    <ImmerseAlert.Properties.Settings>
      <setting name="NestTokenJson" serializeAs="String">
        <value />
      </setting>
      <setting name="Co_Alarm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Smoke_Alarm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Motion_Alarm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Sound_Alarm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Person_Alarm" serializeAs="String">
        <value>False</value>
      </setting>
    </ImmerseAlert.Properties.Settings>
  </userSettings>
</configuration>