<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- 
  You must create a Product though Nest's developer portal to get these values.
  Then this file can be renamed or copied as "NestApi.config".
  The .gitinore ignores "NestApi.config" by default to keep secrets out of source control.
  -->
  <add key="Nest_Product_ID" value=""/>
  <add key="Nest_Product_Secret" value=""/>
  <add key="Nest_Product_Authorization_URL" value=""/>
</appSettings>