<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Now uses ImmerseAlertOpen -->
  <add key="Nest_Product_ID" value="150d8f3f-c00c-4d7c-a2b5-fc9a3253bf92"/>
  <add key="Nest_Product_Secret" value="QAffqoBWc3OrpwaS1tKHLaREB"/>
  <add key="Nest_Product_Authorization_URL" value="https://home.nest.com/login/oauth2?client_id=150d8f3f-c00c-4d7c-a2b5-fc9a3253bf92&amp;state=STATE"/>
</appSettings>