<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- 
  To use your own product instead of ImmerseAlertOpen:
  You must create a Product though Nest's developer portal to get these values.
  Then this file can be renamed or copied as "NestApi.config".
  The .gitinore DOES NOT ignore "NestApi.config", so add that if you want to keep this info secret!
  -->
  <add key="Nest_Product_ID" value=""/>
  <add key="Nest_Product_Secret" value=""/>
  <add key="Nest_Product_Authorization_URL" value=""/>
</appSettings>